server {
    listen [::]:80;
    listen 80;
    server_name stephentcasey.com www.stephentcasey.com;
    location ~/.well-known/acme-challenge {
        allow all;
        root /var/www/certbot;
    }
}